html {
    behavior: smooth-scroll;
}


body{
    font-family: Arial, sans-serif;
    background: url(./cake.jpg) no-repeat center center fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
   display: flex;
   flex-direction: column;
}

table{
    width: 400px;
}

 th, td {
      background: rgba(255, 255, 255, 0.1); /* Transparent background */
      backdrop-filter: blur(10px);          /* Glass blur */
      -webkit-backdrop-filter: blur(10px);  /* Safari support */
      box-shadow: 0 8px 32px rgba(0,0,0,0.2);
      text-align: left;
      padding: 9px;
}

caption {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;

    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}




